
data_analyse_lesson/lect01/lect01_codes/lect01_proj/.idea/vcs.xml
data_analyse_lesson/lect01/lect01_codes/lect01_proj/.idea/workspace.xml
data_analyse_lesson/lect01/lect01_codes/lect01_proj/.idea/workspace.xml
